{% extends 'usuarios/base.html' %}

{% block aba %}Editar produtos{% endblock %}

{% block titulo %}Editar produtos{% endblock %}

{% block conteudo %}
<h3>Edição de produtos do estoque</h3>
<p class = "lead">Verifique as informações e corrija seu estoque.</p>
<hr>
<form action = "{% url 'editar' lista_produtos.pk %}" method = "POST">
    {% csrf_token %}
   <div class="form-group">
            <label for="nome_produto">Nome do Produto *</label>
            <input type="text" class="form-control" id="nome_produto" name="nome_produto" required>
        </div>
        <div class="form-group">
            <label for="quantidade">Quantidade *</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" required>
        </div>
        <div class="form-group">
            <label for="preco_custo">Preço de Custo *</label>
            <input type="number" step="0.01" class="form-control" id="preco_custo" name="preco_custo" required>
        </div>
        <div class="form-group">
            <label for="preco_venda">Preço de Venda *</label>
            <input type="number" step="0.01" class="form-control" id="preco_venda" name="preco_venda" required>
        </div>
        <div class="form-group">
            <label for="fornecedor">Fornecedor</label>
            <input type="text" class="form-control" id="fornecedor" name="fornecedor">
        </div>
    </div>
    <div class = "update">
        <button type = "submit" class = "btn btn-success btn-sm">Atualizar</button>
        <a href = "{% url 'alterar' %}" class = "btn btn-danger btn-sm">Voltar</a>
    </div>
</form>
{% endblock %}

