{% extends 'usuarios/base.html' %}

{% block aba %}Excluir Produto{% endblock %}

{% block titulo %}Excluir Produto{% endblock %}

{% block conteudo %}
<h3>Exclusão do produto selecionado</h3>
<hr>
<p>Tem certeza que deseja eliminar esse produto<strong>{{ lista_produtos.nome_produto }}</strong>?</p>

<div class = "delete">
    <a href = "{% url 'excluir' lista_produtos.pk %}" class = "btn btn-success btn-sm">Sim</a>
    <a href = "{% url 'alterar' %}" class = "btn btn-danger btn-sm">Não</a>
</div>
{% endblock %}